*{
  font-size: 18px;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #003262;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  align-items: center;
}
.logo{
    font-size: 40px;
}

/* ======================================================== */
/* Darkmode */



/* =========================================================== */

.divider {
  border: 0.5px solid #f43f5e;
  margin: 0 20px;
}

.divider1{
  border: 0.5px solid #f43f5e;
}

/* ======================================================================= */
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.intro p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 20px;
}

.social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.social a {
  color: #f1f5f9;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social a:hover {
  color: #f43f5e;
}

.tools {
  margin-top: 25px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.post {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  
}
.post li {
  margin: 8px 0;
  transition: all 0.2s ease-in-out;
}

.post li:hover {
  transform: scale(1.03);
  color: #f43f5e;
}
.post strong {
  /* background-color: #f43f5e; */
  padding: 2px 6px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}

.status{
    line-height: 30px;
    font-size: 20px;
}

/* =============================================== */
/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: 'Courier New', Courier, monospace;
  color: #e5e5e5;
  /* background-color: #1e2139; */
}

.footer-icons a {
  color: #e5e5e5;
  margin-left: 15px;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
